*{
    margin: 0px;
    padding: 0px;
}



/*--Header Part Start Here--*/
header{
    background-color: #87509c;
}
nav{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 50px;
}
logo a{
    padding: 35px 50px;
    max-width: 300px;
    display: block;
    text-align: center;
    fill: #fff;
}
menu ul li{
    list-style: none;
    padding: 43px 12px;
}
menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
}
menu ul li a:hover{
    background-color: #643a79;
    border-radius: 7px;
}
/*--Header Part End Here--*/




/*--section Part start Here--*/
.section-1{
    position: relative;
}
.section-1 a{
    position: absolute;
    top: 285px;
    left: 400px;
    min-width: 60px;
    padding: 0 30px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #c7000b ;
    background-color: #c7000b ;
    text-align: center;
    box-sizing: border-box;
    font-family: "HuaweiSans-Regular", Helvetica, Arial, sans-serif;
    border-radius: 3px;
}
.section-1 a:hover{
    border: 1px solid #850F12;
    background-color: #850F12;
    transition: 0.3s;
}
/*--Header Part End Here--*/




/*--Products Part Start Here--*/
.products{
    background-color: rgba(23, 194, 164, 0.3);
}
.products .top h1{
    text-transform: uppercase;
    font-family: "HuaweiSans-Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 60px;
}
.products .top p{
    font-size: 18px;
    max-width: 30%;
    margin: auto;
    text-decoration: none;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.products .middle{
    width: 95%;
    text-align: center;
    margin: auto;
}
.products .bottom{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 70px 0;
}
.products #p{
    border: 1px solid F3F5F2;
    background-color: #F3F5F2;
    border-radius: 10px;
    padding-bottom: 8px;
}
.products #p h2{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: tahoma;
    padding: 10px 0;
}
.products #p p{
    font-size: 20px;
    font-weight: 300;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.products #p button{
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #c7000b ;
    background-color: #c7000b ;
    text-align: center;
    box-sizing: border-box;
    font-family: "HuaweiSans-Regular", Helvetica, Arial, sans-serif;
    border-radius: 15px;
    margin: 12px auto;
    cursor: pointer;
}
.products #p button:hover{
    border: 1px solid #850F12;
    background-color: #850F12;
    transition: 0.3s;
}
.products .bottom img{
    max-width: 100%;
    height: 100%;
    margin: 45px auto;
}
/*--Products Part end Here--*/




/*--introduction Part start Here--*/
.introduction{
    background-color: #e7f1f8;
}
.introduction .top h1{
    text-transform: uppercase;
    font-family: "HuaweiSans-Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 60px;
}
.introduction .top p{
    font-size: 18px;
    max-width: 40%;
    margin: auto;
    text-decoration: none;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.introduction .middle{
    width: 95%;
    text-align: center;
    margin: auto;
}
.introduction .bottom{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding-top: 130px;
    padding-bottom: 40px;
}
.introduction .bottom img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid grey;
    background-color: #333;
}
.introduction #p h2{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: "Roboto", sans-serif;;
    padding-top: 25px;
    text-transform: uppercase;
}
.introduction #p h3{
    font-size: 20px;
    font-weight: 400;
    color: #30bae7;
    font-family: tahoma;
    padding-bottom: 14px;
}
.introduction #p p{
    font-size: 14px;
    font-weight: 300;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 55%;
    margin: auto;
}
.introduction #p button{
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #0075FF;
    background-color: #0075FF;
    text-align: center;
    box-sizing: border-box;
    font-family: "HuaweiSans-Regular", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    margin: 12px auto;
    cursor: pointer;
}
.introduction #p button:hover{
    background-color: #969699;
}
/*--introduction Part end Here--*/



/*--input Part start Here--*/

.input{
    background-color: #3c5499;
}
.input .top h1{
    text-transform: uppercase;
    font-family: "HuaweiSans-Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 60px;
    color: #fff;
}
.input .top p{
    font-size: 18px;
    max-width: 60%;
    margin: auto;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.input .middle{
    width: 70%;
    text-align: center;
    margin: auto;
}
.input .bottom{
    padding-top: 50px;
    padding-bottom: 50px;
}
.input input{
    width: 100%;
    margin: auto;
    font-size: 16px;
    padding: 20px 10px;
    background-color: #273a71;
    border: 3px solid transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}
.input .name{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.input textarea{
    width: 100%;
    margin: 30px 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #273a71;
    border: 3px solid transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}
.input button{
    min-width: 60px;
    padding: 15px 35px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #30bae7 ;
    background-color: #30bae7 ;
    text-align: center;
    box-sizing: border-box;
    font-family: "HuaweiSans-Regular", Helvetica, Arial, sans-serif;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 10px;
}
.input button:hover{
    background-color: #0075FF;
    border: 1px solid #0075FF ;
}
footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
}

footer{
    background-color: #344b8e;
}
footer .middle{
    width: 80%;
    margin: auto;
}
footer ul li{
    list-style: none;
    padding: 70px 0;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: Roboto;
}
footer ul li a:hover{
    color: #30bae7;
}


